$highlight_blue: rgb(246, 156, 0);
$announcement_red: #ae0000;
$backgourd_hightlight:#ff7a4e;
$backgroud:#ffffff;
$light_backgroud:#ffffff;

$color:black;
$color_highlight:#fff;
$base_font_size: 14px;
$widget_border_radius: 4px;
$table_header_rounding: 6px;
$color_header: #ff7a4e;
$monospace-fonts: Consolas,
"Andale Mono WT",
"Andale Mono",
"Lucida Console",
"Lucida Sans Typewriter",
"DejaVu Sans Mono",
"Bitstream Vera Sans Mono",
"Liberation Mono",
"Nimbus Mono L",
Monaco,
"Courier New",
Courier,
monospace;